.header {
  &-left {
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 28px;
    &-icon {
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 50%;
      text-align: center;
      font-size: 12px;
      user-select: none;
      cursor: pointer;
      margin-right: 12px;
      &:not(:first-child) {
        margin: 0 12px;
      }
      &:hover {
        background: #ccc;
      }
    }
    &-value {
      font-size: 20px;
    }
    &-btn {
      background: #eee;
      cursor: pointer;
      border: 0;
      padding: 0 15px;
      line-height: 28px;
      &:hover {
        background: #ccc;
      }
    }
  }
}
